DELINEA_BASE_URL=https://secrets.internal

# Recommended Auth via OAuth Client Credentials
DELINEA_CLIENT_ID=
DELINEA_CLIENT_SECRET=

# Secondary Fallback via Password Grant for local development/testing
DELINEA_USERNAME=admin
DELINEA_PASSWORD=secret
